<div class="hero-body">
    <div class="columns is-mobile">
        <div class="column is-half-tablet is-offset-one-quarter-tablet">
            <div class="box">
                <div class="content has-text-centered">
                    <h3>Happy News!</h3>
                    <p>
                        <br> Voor updates kunnen jullie ons volgen op Instagram & Facebook
                    </p>
                    <p class="columns">
                        <a class="column" aria-label="Instagram Icon" href="https://www.instagram.com/maju_by_jones/">
                            <span class="icon">
                                <i class="mdi mdi-instagram mdi-48px"></i>
                            </span>
                        </a>
                        <a class="column" aria-label="Facebook Icon" href="https://www.facebook.com/majuantwerp/">
                            <span class="icon">
                                <i class="mdi mdi-facebook-box mdi-48px"></i>
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
