<div class="tabs is-toggle is-toggle-rounded is-centered">
    <ul>
        <li class="tab is-active" onclick="openTab(event,'food')">
            <a>
                <span>
                    <span class="icon">
                        <i class="mdi mdi-24px mdi-silverware-variant"></i>
                    </span>
                    Food
                </span>
            </a>
        </li>
        <li class="tab" onclick="openTab(event,'drinks')">
            <a>
                <span>
                    <span class="icon">
                        <i class="mdi mdi-24px mdi-coffee"></i>
                    </span>
                    Drinks
                </span>
            </a>
        </li>
        <li class="tab" onclick="openTab(event,'breakfast')">
            <a>
                <span>
                    <span class="icon">
                        <i class="mdi mdi-24px mdi-food-croissant"></i>
                    </span>
                    Breakfast
                </span>
            </a>
        </li>
    </ul>
</div>
