<div class="container section">
    <!-- Food -->
    <div id="food" class="content-tab">
        {% include products/food.html %}
    </div>
    <!-- End food -->

    <!-- Drinks -->
    <div id="drinks" class="content-tab" style="display:none">
        {% include products/drinks.html %}
    </div>
    <!-- End drinks -->

    <!-- Breakfast -->
    <div id="breakfast" class="content-tab" style="display:none">
        {% include products/breakfast.html %}
    </div>
    <!-- End breakfast -->
</div>
