<footer class="footer">
    <div class="content has-text-centered">
        <p class="center-align"><b>Follow us: @maju_by_jones | info@maju.shop | www.maju.shop | Tel nr.: +32 (0)3 437 77 08</b></p>
        <p class="center-align">Alle info omtrent allergenen kan u terugvinden op de website, aarzel niet om contact op te nemen via mail, telefoon of ons contactformulier.
            <br>Bestellen voor 10:00 is leveren vanaf 11:00. Vanaf 20 personen minstens 24 uur op voorhand bestellen. L=Lactose, G=Gluten, N=Noten.</p>
    </div>
</footer>
