<div class="columns features">
    <div class="column is-4">
        <div class="card is-shady">
            <div class="card-content">
                <div class="content has-text-centered">
                    <a href="{{ include.deliveroo }}" target="_blank">
                        <img alt="Order high-quality takeaway online from top restaurants, fast delivery straight to your home or office" src="https://deliveroo.be/backlinks/120963.png?id=120963">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-4">
        <div class="card is-shady">
            <div class="card-content">
                <div class="content has-text-centered">
                    <a href="{{ include.uber }}" data-elementor-open-lightbox="" target="_blank">
                        <img src="assets/images/ubereats.jpg" alt="Order on UberEats" sizes="(max-width: 300px) 100vw, 300px" width="300" height="100">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-4">
        <div class="card is-shady">
            <div class="card-content">
                <div class="content has-text-centered">
                    <a href="{{ include.takeaway }}" data-elementor-open-lightbox="" target="_blank">
                        <img src="assets/images/takeaway.png" alt="Order on TakeAway" sizes="(max-width: 300px) 100vw, 300px" width="300" height="100" style="filter: contrast(0);">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
