<!-- Breakfast Products -->
<div class="columns is-multiline is-variable">
    {% for product in site.data.breakfast.products %}
    <div class="column is-half">
        <h1 class="title"> | {{ product.name | downcase }} | </h1>
        <div class="columns">
            <div class="column">
                    <div class="columns">
                        <div class="column is-8">
                            {% if product.description %}
                                <div class="has-text-justified is-size-5">{{ product.description }}</div>
                            {% endif %}
                        </div>
                        <div class="column is-4">
                            <div class="has-text-info has-text-weight-bold is-pulled-right is-size-4">
                                {% if product.var-prices %}
                                    {%  for var-price in product.var-prices %}
                                        <b>{{ var-price.name }}</b>: {{ site.currency }}{{ var-price.price }}
                                    {% endfor %}
                                {% elsif category.var-prices %}
                                    {%  for var-price in category.var-prices %}
                                        <b>{{ var-price.name }}</b>: {{ site.currency }}{{ var-price.price }}
                                    {% endfor %}
                                {% elsif product.price %}
                                    {{ site.currency }}{{ product.price }}
                                {% elsif category.price %}
                                    {{ site.currency }}{{ category.price }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Breakfast Extra's -->
<div class="row">
    <div class="col s12 m12">
        <h4 class="resto-category-name center-align"> | {{ site.data.breakfast.extras_title | downcase }} | </h4>
        {% for product in site.data.breakfast.extras %}
        <div class="col s4 m4 center-align">
            <h5 class="card-title center-align">{{ product.name }}</h5>
            <h6 class="green-text text-accent-4 flow-text">
                {% if product.var-prices %}
                {%  for var-price in product.var-prices %}
                <b>{{ var-price.name }}</b>: {{ site.currency }}{{ var-price.price }}
                {% endfor %}
                {% elsif category.var-prices %}
                {%  for var-price in category.var-prices %}
                <b>{{ var-price.name }}</b>: {{ site.currency }}{{ var-price.price }}
                {% endfor %}
                {% elsif product.price %}
                {{ site.currency }}{{ product.price }}
                {% elsif category.price %}
                {{ site.currency }}{{ category.price }}
                {% endif %}
            </h6>
            <p class="center-align grey-text">{{ product.description }}</p>
        </div>
        {% endfor %}
    </div>
</div>
